.cloud
.storage
.HA_VERSION
.owncloudsync.log
.sync*
blueprints
custom_components
deps
Desktop.ini
home-assistant.log
home-assistant_v2.db-wal
home-assistant_v2.db-shm
home-assistant_v2.db
lutron
persons.yaml
secrets.yaml
tts
www/images
zones.yaml